body{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;

  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: beige;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #879484;
  width: 200px;
}

.sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background-color: beige;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #879484;
}